# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Environment
.env
.env.local
.env.production

# Firebase
google-services.json
GoogleService-Info.plist

# OS
.DS_Store

# TypeScript
*.tsbuildinfo

# EAS
eas-build-local-nodejs/
